

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: greenyellow;
    overflow: hidden;
}

.project{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.project-item{
    border: 1px solid black;
    float: left;
    height: 200px;
    width: 32.5%;
    margin-right: 10px;
    margin-bottom: 10px;
}